LISTENER_ORCL =
  (DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.203)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.22)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.69)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DB0808_PDB1.paas.oracle.com)))

ORCL =
  (DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.203)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.22)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.69)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DB0808_PDB1.paas.oracle.com)))

orclpdb =
  (DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.203)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.22)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.69)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DB0808_PDB1.paas.oracle.com)))

orders_tp =
  (DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.203)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.22)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.69)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DB0808_PDB1.paas.oracle.com)))

inventory_tp =
  (DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.203)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.22)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.69)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DB0808_PDB1.paas.oracle.com)))
